streamlit>=1.31.0
spacy>=3.7.2
pt_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.7.0/pt_core_news_sm-3.7.0-py3-none-any.whl
anthropic>=0.8.1
elevenlabs>=1.13.5
plotly>=5.18.0
python-dotenv>=1.0.0
typing-extensions>=4.9.0
